---
import { getCollection } from "astro:content";
import ChapterLink from "./ChapterLink.astro";
import Container from "./Container.astro";

const chapters = await getCollection('chapter')

const getChapterGroup = (group: string) => {
	const regexPattern = new RegExp(`^[${group}]`);

	return chapters.filter(item => regexPattern.test(item.slug)).sort(
		(a, b) => {
			const [numA, subA] = a.slug.split('-').map(Number);
			const [numB, subB] = b.slug.split('-').map(Number);

			if (numA === numB) {
				return subA - subB;
			}

			return numA - numB;
		}
	).map(item => {
		return {
			title: item.data.title,
			description: item.data.description,
			slug: item.slug,
		}
	});
}

const chapterGroups = {
	first: {
		title: null,
		chapters: getChapterGroup('012')
	},
	second: {
		title: 'Az állam',
		chapters: getChapterGroup('3')
	},
	third: {
		title: 'A különleges jogrend',
		chapters: getChapterGroup('4')
	},
	fourth: {
		title: null,
		chapters: getChapterGroup('5')
	}
}
---

<div id="chapters-list" class="pt-96 pb-144 min-h-680">
	<Container>
		<div class="flex flex-col gap-48 max-w-768 mx-auto">
			{
				Object.keys(chapterGroups).map((key) => (
						<div class="flex flex-col gap-12">
							<div class="w-full">
								<p class="text-size-24 font-500 m-0">{chapterGroups[key].title}</p>
							</div>

							<nav class="w-full">
								<ul class="flex flex-col gap-4">
									{
										chapterGroups[key].chapters.map((chapter) => (
											<li>
												<ChapterLink href={`/chapter/${chapter.slug}/`}>
													<span>{chapter.title}</span>
													{chapter.description !== '' && (<span class="font-400 opacity-60 text-size-20">{chapter.description}</span>)}
												</ChapterLink>
											</li>
										))
									}
								</ul>
							</nav>
						</div>
					)
				)
			}
		</div>
	</Container>
</div>
