---
import { type CollectionEntry, getCollection } from 'astro:content';
import ChapterLayout from "../../layouts/ChapterLayout.astro";
import ChapterLink from "../../components/ChapterLink.astro";
import { AudioPlayer } from "../../components/AudioPlayer";

export async function getStaticPaths() {
	const chapters = await getCollection('chapter');
	const numberOfPosts = chapters.length;

	return chapters.sort(
		(a, b) => {
			const [numA, subA] = a.slug.split('-').map(Number);
			const [numB, subB] = b.slug.split('-').map(Number);

			if (numA === numB) {
				return subA - subB;
			}

			return numA - numB;
		}
	).map((chapter, i) => ({
		params: { slug: chapter.slug },
		props: {
			chapter,
			nextPost:
				i === numberOfPosts
					? { data: null }
					: chapters[i + 1],
		},
	}));
}
type Props = CollectionEntry<'chapter'>;

const chapter = Astro.props;
const { nextPost } = Astro.props
const { Content, headings } = await chapter.chapter.render();

const title = headings.find(heading => heading.depth === 1)
---

<ChapterLayout title={title.text}>
	<Content/>

	{nextPost && nextPost.data &&
		<div class="flex flex-col pt-72 relative z-10">
			<h2>Tovább</h2>

			<ChapterLink href={`/chapter/${nextPost.slug}/`}>
				{nextPost.data.title}
				{nextPost.data.description !== '' && (<span class="font-400 opacity-60 text-size-20">{nextPost.data.description}</span>)}
			</ChapterLink>
		</div>}

	<AudioPlayer headings={headings} slug={chapter.chapter.slug} client:only="react"/>
</ChapterLayout>
